#root {
  max-width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100vh;
}

@media (min-width: 561px) {
  #root {
    background-color: #c0c0c0;
  }
}

@media (max-width: 560px) {
  #root {
    padding: 0;
  }
}

